
.mycard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
}

.auth-card h2{
font-family: 'Grand Hotel', cursive;;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #516ddc !important;
    box-shadow: 0 1px 0 0  #042196 !important;
}
